<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Demo App</title>
</head>
<body>
<!-- START BODY -->
<h1>This is the demo application</h1>
<div ng-app="demoApp" ng-controller="DemoController">
    Random Number: <span ng-bind="rdNumber"></span>
    <br>
    <input type="button" value="Get new number" ng-click="doClick()" />
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
<script>
    (function(){
        var app = angular.module('demoApp', ['ngCookies']);
        app.controller('DemoController', function($scope, $cookies, $http) {

            var loadRandom = function(withNewAccessToken) {
                var accessToken = $cookies['access_token'];
                var req = {
                    method: 'GET',
                    url: 'http://localhost:8082/services/random',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    }
                };
                $http(req).success(function(resp) {
                    $scope.rdNumber = resp;
                }).error(function(resp, status) {
                    if (withNewAccessToken == false && status == 401) {
                        $http.get('/refreshToken').success(function(data) {
                            if (data['isSuccess'] == true) {
                                $cookies['access_token'] = data['accessToken'];
                                loadRandom(true);
                            } else {
                                alert("No medicine !!! ><");
                            }
                        });
                    } else {
                        alert("No medicine !!! -_-");
                    }
                });
            };

            loadRandom(false);

            $scope.doClick = function() {
                loadRandom(false);
            };

        });
    })();
</script>
<!-- END BODY -->
</body>
</html>